flask
gunicorn
opencv-python-headless
opencv-contrib-python-headless
onnxruntime-gpu==1.16
onnxruntime
requests
shapely
pyclipper
scikit-image
imgaug
lmdb
tqdm
numpy<2.0.0
pymupdf
pdf2image
omegaconf
loguru
pypdfium2
pypdf
pdfminer.six
pdftext
json-repair
fast-langdetect
fasttext-wheel
robust-downloader
magika
ftfy
boto3
beautifulsoup4
pydantic
matplotlib
tokenizers
modelscope
huggingface_hub
